{% extends 'components/base_principal.html' %} 

{% block content %}
<main class="full-width-container">
    <section class="hero">
        <div class="container">
            <h1>Tutorías Universitarias</h1>
            <p>Alcanza tu máximo potencial académico con nuestro apoyo experto.</p>
            <a href="#" class="cta-button">Reserva tu sesión ahora</a>
        </div>
    </section>

    <section class="features" id="servicios">
        <div class="container-services">
            <h2 class="h2-1">Nuestros Servicios</h2>
            <div class="feature-grid">
                <div class="feature-card">
                    <h3>Tutorías Individuales</h3>
                    <p>Sesiones personalizadas adaptadas a tus necesidades académicas específicas.</p>
                </div>
                <div class="feature-card">
                    <h3>Grupos de Estudio</h3>
                    <p>Aprende colaborativamente con otros estudiantes bajo la guía de un tutor experto.</p>
                </div>
                <div class="feature-card">
                    <h3>Preparación para Exámenes</h3>
                    <p>Estrategias y técnicas de estudio para enfrentar con éxito tus evaluaciones.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials">
        <div class="container">
            <h2>Nuestros otros servicios</h2>
            <div class="testimonial-grid">
                <div class="testimonial-card">
                    <img src="./../../static/img/campus.png" alt="Santoto Tunja" class="testimonial-img">
                    <button class="btn" onclick="window.location.href='https://www.santototunja.edu.co/';">Santo Tomas</button> 
                </div>
                <div class="testimonial-card">
                    <img src="./../../static/img/campusV.png" alt="Santoto Tunja" class="testimonial-img">
                    <button class="btn" onclick="window.location.href='https://campusvirtual.santototunja.edu.co/santoto_online/';">Campus virtual</button> 
                </div>
                <div class="testimonial-card">
                    <img src="./../../static/img/news.png" alt="Santoto Tunja" class="testimonial-img">
                    <button class="btn" onclick="window.location.href='https://santototunja.co/';">Santoto News</button> 
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
