<!-- register.html -->
{% extends 'components/base_principal.html' %}

{% block head %}
    <!-- Cargar el archivo CSS solo en la página de registro -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
<div class="register-container">
    <h1>Registro de Estudiante</h1>

    <!-- Mensaje flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form id="registro-estudiante" action="{{ url_for('crear_usuario') }}" method="POST" novalidate>
        <div class="form-group">
            <label for="nombre">Nombre completo:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        
        <div class="form-group">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required minlength="8">
        </div>
        
        <div class="form-group">
            <label for="confirm-number">Codigo de estudiante:</label>
            <input type="number" id="confirm-number" name="confirm-number" required minlength="8">
        </div>
        

        <div class="form-group">
            <label for="carrera">Carrera:</label>
            <select id="carrera" name="carrera" required>
                <option value="">Selecciona una carrera</option>
                <option value="diseno_interaccion">Diseño de Interacción</option>
                <option value="espanol_lenguas_extranjeras">Licenciatura en Español y Lenguas Extranjeras (Inglés y Francés)</option>
                <option value="marketing_transformacion_digital">Marketing y Transformación Digital</option>
                <option value="administracion_empresas">Administración de Empresas</option>
                <option value="negocios_internacionales">Negocios Internacionales</option>
                <option value="contaduria_publica">Contaduría Pública</option>
                <option value="derecho">Derecho</option>
                <option value="ingenieria_datos_ia">Ingeniería de Datos e Inteligencia Artificial</option>
                <option value="bioingenieria">Bioingeniería</option>
                <option value="arquitectura">Arquitectura</option>
                <option value="ingenieria_ambiental">Ingeniería Ambiental</option>
                <option value="ingenieria_civil">Ingeniería Civil</option>
                <option value="ingenieria_sistemas">Ingeniería de Sistemas</option>
                <option value="ingenieria_electronica">Ingeniería Electrónica</option>
                <option value="ingenieria_mecanica">Ingeniería Mecánica</option>
                <option value="ingenieria_industrial">Ingeniería Industrial</option>
                <option value="cultura_fisica_deporte_recreacion">Cultura Física, Deporte y Recreación</option>
            </select>
        </div>
        

        <div class="form-group">
            <label for="semestre">Semestre:</label>
            <select id="semestre" name="semestre" required>
                <option value="" disabled selected>Seleccione un semestre</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>

        <button type="submit" class="btn-submit">Registrar</button>
    </form>
</div>
{% endblock %}
